* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


/* none */
.img-plant, .img-fish,  .img-mashroom, .img-chili, .img-leaf, .img-restaurant, .img-pizza , .img-tomato, .img-pizza-pic{
    display: none;
}

/* header */
.bg-pizza {
    width: 100%;
   
}

.bg-logo {
    position: absolute;
    width: 200px;
}

.bg-lapizza {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

}

/* body */

.cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FFFF;
}



.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fef6f4;
    width: 312px;
    height: 275px;
    margin: 10px;
    margin-bottom: 80px;
    border-radius: 25px;
}

.pizzaLike {
    display: flex;
    flex-direction: row;
    position: absolute;
    margin-bottom: 250px;
}

.information-pizza {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 70px;
}

.title {
    color: #2e2e2e;
    margin-bottom: 80px;
    text-align: center;
    margin-top: 100px;
}

.title-card,
.p-card {
    text-align: center;
}

.title-card {
    font-size: 18px;
    color: #2e2e2e;
    margin-bottom: 10px;
}

.p-card {
    font-size: 14px;
    line-height: 20px;
    color: #616161;
    width: 180px;
    margin-bottom: 40px;
}

.price-pizza {
    text-align: center;
    font-size: 32px;
    font-weight: 700;

}

.buy-pizza {
    width: 173px;
    height: 30px;
    border-radius: 25px;
    border: none;
    position: relative;
    top: 25px;
    color: #2e2e2e;
    font-weight: 600;
    line-height: 15px;
    background-color: #FFA200;
}

.buy-pizza:hover {
    background-color: #f8b747;
}

/* modificando o input de like */
input {
    margin-top: 30px;
    position: absolute;
    left: 130px;
    appearance: none;
    -webkit-appearance: none;
    width: 35px;
    height: 35px;
    border: 2px solid #CF3031;
    border-radius: 14px;
    background: #fef6f4;
    background-image: url("img/img-heart.svg");
    background-repeat: no-repeat;
    background-position: center;
}

input:checked {
    background: #FFD4C9;
    border: 2px solid #CF3031;
    background-image: url("img/img-heart.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.img-like {
    width: 15px;
    height: 15px;
    margin-top: 40px;
    left: 20px;
    position: relative;
    z-index: 999px;
}

/* Sobre o la Pizza */

.aboutPizza {
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.h1-aboutPizza {
    margin-bottom: 15px;
    color: #2e2e2e;
    text-align: center;
}

.p-aboutPizza {
    margin: 10px;
    text-align: center;
    color: #616161;
    margin-bottom: 20px;
}

.button-aboutPizza {
    width: 110px;
    height: 30px;
    background-color: #FFA200;
    color: #2e2e2e;
    border-radius: 35px;
    font-weight: 600;
    border: none;
}

footer {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
    color: #2e2e2e;
}

@media screen and (min-width:1024px) {

    .bg-logo {
        width: 400px;
        height: 560px;
        display: flex;
        align-items: center;
    }

    .img-plant {
        display: flex;
        position: absolute;
        top: 510px;
    }

    .img-fish {
        display: flex;
        position: absolute;
        left: 250px;
        top: 600px;
    }

    .img-mashroom {
        display: flex;
        position: absolute;
        right: 150px;
        top: 640px;
    }

    .img-leaf {
        display: flex;
        position: absolute;
        right: 5px;
        top: 890px;
    }

    .img-chili{
        display: flex;
        position: absolute;
        top: 1100px;
    }

    .cards {
        display: flex;
        flex-direction: row;
        padding: 0 50px 0 50px;
    }

    .bg-pizza {
        display: block;
        width: 100%;
        height: 560px;
    }

    .card {
        position: relative;
    }

    .content-pizzas {
        margin-bottom: 100px;
    }

    .content-aboutPizza{
        display: flex;
        padding: 90px;
        background-color: #FCFCFC;
        width: 100%;
    }

    .img-restaurant {
        display: flex;
        padding-right: 50px;
    }

    .img-pizza {
        display: flex;
        position: absolute;
        left: 10px;
       margin-top: 30px;
    }

    .img-tomato{
        display: flex;
        position: absolute;
        right: 30px;
        top: 1190px;
    }

    .img-pizza-pic {
        display: flex;
        position: absolute;
        right: 30px;
        top: 1600px;
    }

    .aboutPizza {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }
    
    .h1-aboutPizza {
        margin-bottom: 15px;
        color: #2e2e2e;
        text-align: left;
    }
    
    .p-aboutPizza {
        margin: 0px;
        text-align: left;
        color: #2E2E2E;
        margin-bottom: 20px;
        line-height: 26px;
    }
   
}